.article-path {
	width: 1200px;
	height: 46px;
	margin: 0 auto;
	line-height: 46px;
}
.article-box {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 80px;
	background: #FFFFFF;
	overflow: hidden;
}
.article-title {
	width: 1120px;
	margin: 40px auto;
	max-width: 1120px;
	text-align: center;
	font-size: 30px;
}
.article-info {
	width: 1120px;
	padding: 10px 0;
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
	color: #999;
	border-bottom: 1px #cecece solid
}
.article-content {
	width: 1120px;
	margin: 0px auto;
	font-size: 16px;
	border-bottom: 1px #cecece solid
}
.article-content p {
	text-align: left;
	line-height: 36px;
	padding: 0 40px;
}
.article-content img {
	width: 550px;
	height:100%;
}
