<!-- 网上信访 -->



<form action="" style="margin-top: 30px;">
    <!-- 表单 -->
    <table style="width:500px; border:0;">

        <tbody>
            <!-- 0行 -->
            <tr>
                <td colspan="4" height="30">
                    <span>填写留言（*为必填项，文字内容不能超过500字）</span>
                </td>
            </tr>
            <!-- 0行 -->
            <!-- 第一行 -->
            <tr>
                <td align="right">
                    <div style="width:85px">
                        <span style="color: red">*</span>
                        <aaaa id="user_name_label"><label>姓名</label></aaaa>
                    </div>
                </td>
                <td colspan="3" id="user_name_input"><input type="text" value="" id="user_name" name="user_name"
                        placeholder="请输入姓名">
                </td>
            </tr>
            <!-- 第一行 -->

            <!-- 第二行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="id_card_label"><label>身份证号</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="id_card_input"><input type="text" value="" id="id_card" name="id_card" placeholder="请输入18位身份证号">
                    </aaaa>
                </td>
            </tr>
            <!-- 第二行 -->

            <!-- 第三行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_sex_label"><label>性别</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_sex_input"><label><input type="radio" checked="" class="flat" name="user_sex" value="男">男</label><label><input
                                type="radio" class="flat" name="user_sex" value="女">女</label></aaaa>
                </td>
            </tr>
            <!-- 第三行 -->

            <!-- 第四行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_age_label"><label>年龄</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_age_input"><input type="text" value="" id="user_age" name="user_age" placeholder="请输入年龄">
                    </aaaa>
                </td>
            </tr>
            <!-- 第四行 -->

            <!-- 第五行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_mobile_label"><label>手机</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_mobile_input"><input type="text" value="" id="user_mobile" name="user_mobile"
                            placeholder="请输入手机号">
                    </aaaa>
                </td>
            </tr>
            <!-- 第五行 -->

            <!-- 第六行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_telephone_label"><label>联系电话</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_telephone_input"><input type="text" value="" id="user_telephone" name="user_telephone"
                            placeholder="请输入联系电话">
                    </aaaa>
                </td>
            </tr>
            <!-- 第六行 -->

            <!-- 第7行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_zzmm_label"><label>政治面貌</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="letter_kind_input"><select class="form-control" id="user_zzmm" name="user_zzmm">
                            <option value="1" selected="">中共党员</option>
                            <option value="2">中共预备党员</option>
                            <option value="3">共青团员</option>
                            <option value="4">民革党员</option>
                            <option value="5">民盟盟员</option>
                            <option value="6">民建会员</option>
                            <option value="7">民进会员</option>
                            <option value="8">农工党党员</option>
                            <option value="9">致公党党员</option>
                            <option value="10">九三学社社员</option>
                            <option value="11">台盟盟员</option>
                            <option value="12">无党派人士</option>
                            <option value="13">群众</option>
                        </select></aaaa>
                </td>
            </tr>
            <!-- 第7行 -->

            <!-- 第8行 -->
            <tr>
                <td align="right" style="padding-right:10px;">
                    <span style="color: red">*</span>
                    <aaaa id="user_hjdz_label"><label>户籍地址</label></aaaa>

                </td>
                <td colspan="3">
                    <aaaa id="user_hjdz_input"><input style="width: 660px;" type="text" value="" id="user_hjdz" name="user_hjdz"
                            placeholder="请输入详细地址" size="40"> </aaaa>
                </td>

            </tr>
            <!-- 第8行 -->

            <!-- 第9行 -->
            <tr>
                <td align="right" style="padding-right:10px;">
                    <span style="color: red">*</span>
                    <aaaa id="user_txdz"><label>通讯地址</label></aaaa>

                </td>
                <td colspan="3">
                    <aaaa id="user_txdz_input"><input style="width: 660px;" type="text" value="" id="user_txdz" name="user_txdz"
                            placeholder="请输入详细地址" size="40"> </aaaa>
                </td>

            </tr>
            <!-- 第9行 -->

            <!-- 第10行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_yfdx_label"><label>政策优抚对象</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_yfdx_input"><label><input type="radio" checked="" class="flat" name="user_yfdx"
                                value="是">是</label><label><input type="radio" class="flat" name="user_yfdx" value="否">否</label></aaaa>
                </td>
            </tr>
            <!-- 第10行 -->

            <!-- 第11行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_ylbx_age_label"><label>养老保险</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_ylbx_age_input">
                        <label>
                            <input type="radio" checked="" class="flat" name="user_ylbx_age" value="已参保">
                            已参保
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_ylbx_age" value="未参保">
                            未参保
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_ylbx_age" value="中断缴费">
                            中断缴费
                        </label>
                    </aaaa>
                </td>
            </tr>
            <!-- 第11行 -->

            <!-- 第12行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_ylbx_label"><label>医疗保险</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_ylbx_input">
                        <label>
                            <input type="radio" checked="" class="flat" name="user_ylbx" value="已参保">
                            已参保
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_ylbx" value="未参保">
                            未参保
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_ylbx" value="中断缴费">
                            中断缴费
                        </label>
                    </aaaa>
                </td>
            </tr>
            <!-- 第12行 -->

            <!-- 第13行 -->
            <tr>
                <td align="right">
                    <div>
                        <span style="color: red">*</span>
                        <aaaa id="user_zysq_label"><label>主要述求</label></aaaa>
                    </div>
                </td>
                <td colspan="3">
                    <aaaa id="user_zysq_input">
                        <label>
                            <input type="radio" checked="" class="flat" name="user_zysq" value="要求提高待遇">
                            要求提高待遇
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_zysq" value="要求确认身份">
                            要求确认身份
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_zysq" value="要求安排工作">
                            要求安排工作
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_zysq" value="要求帮扶援助">
                            要求帮扶援助
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_zysq" value="要求解决社保问题">
                            要求解决社保问题
                        </label>
                        <label>
                            <input type="radio" class="flat" name="user_zysq" value="其他">
                            其他
                        </label>
                    </aaaa>
                </td>
            </tr>
            <!-- 第13行 -->


            <!-- 第14行 -->
            <tr>
                <td align="right" style=" vertical-align: top;">
                    <span style="color: red">*</span>
                    <aaaa id="letter_body_label"><label>反映述求详细情况</label></aaaa>

                </td>
                <td colspan="3" id="letter_body_input">
                    <div style="color:red;margin-bottom: 10px">反映信访事项中，请勿填写泄露后可能损害国家在政治、经济、国防、外交等领域涉及国家安全和利益的事项</div>
                    <div style="padding:5px;background: #cfcfcf">请勿填写原部队情况和所参加任务的详细信息，可简要填写反应问题所发生的时间、地点、事情经过和结果以及退役后所在的工作单位、工作现在等内容</div>
                    <textarea style="width: 100%; box-sizing: border-box;margin-top: 10px" cols="80" id="letter_body"
                        name="letter_body" rows="10" placeholder="内容不超过1000字"></textarea>
                </td>
            </tr>
            <!-- 第14行 -->
        </tbody>
    </table>
    <!-- 表单 -->
    <div class="btn-form">
        <button type="button">提交</button>

    </div>

</form>