<!-- 意见征集 -->

<div class="yjzj">
    <div class="yjzj-form">
        <h3 style="text-align: center">我要留言</h3>
        <form>
            <div class="yjzj-form-row">
                <label class="lable-desc"> <span>*&nbsp;</span>姓名：</label>
                <input id="name" name="username" class="yjzj-input">
            </div>
            <div class="yjzj-form-row">
                <label class="lable-desc"> <span>*&nbsp;</span>电话：</label>
                <input id="tel" name="tel" class="yjzj-input">
            </div>
            <div class="yjzj-form-row">
                <label class="lable-desc"> <span>*&nbsp;</span>正文：</label>
                <textarea id="content" name="content" class="yjzj-textarea"></textarea>
            </div>
            <div class="yjzj-form-row">
                <label class="lable-desc"> <span>*&nbsp;</span>验证码： </label>
                <input id="verifycode" name="verifycode" type="text" class="yjzj-input" value="">
                <img width="50" height="20" border="0" alt="点击改变验证码" style="cursor: pointer; ">
            </div>
            <br>

            <div class="yjzj-option">
                <button type="button">提交</button>
            </div>
    </div>
    </form>
</div>

</div>