form {
    padding: 20px 0px;
    width: 900px;
    margin: 0 auto;
}

.reg-box div {
    width: auto;
}

.reg-box {
    padding-left: 30px;
}

.reg-box div {
    line-height: 44px;
    /* width: 500px; */
    overflow: hidden;
    margin: 20px 0;
}

.reg-box div label {
    width: 100px;
    height: 42px;
    vertical-align: top;
    text-align: right;
    padding-right: 20px;
}

.last-lable {
    vertical-align: top !important;
}

.reg-box div input {
    padding: 6px 0;
    font-size: 16px;
    width: 296px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dddddd;
    text-indent: 15px;
}

input {
    background-color: #fff;
    outline: none;
}

textarea {
    border: 1px solid #dddddd;
    width: 550px;
    outline: none;
    text-indent: 15px;
    font-size: 16px;
}

.submit {
    width: 128px;
    height: 44px;
    cursor: pointer;
    background: #e74c3c;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    left: 93px;
}