<!-- 带头和尾的空页面 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/home/base.css">
    <link rel="stylesheet" href="../css/home/head.css">
    <link rel="stylesheet" href="../css/home/foot.css">
</head>

<body>
    <script type="text/javascript" src="../js/tool.js"></script>

    <div class="home-page">
        <!-- 头部 -->
        <div class="home-head">
            <div class="head-link">
                <span>
                    <script>document.write(getChineseData())</script>
                </span>
                <span class="option">
                    <span class="first">
                        <a>设为首页</a>
                    </span>
                    <span class="middle">

                        <a>收藏本站</a>
                    </span>
                    <span class="middle">

                        <a>邮件系统</a>
                    </span>
                    <span class="middle">
                        <a>OA系统</a>
                    </span>

                    <span class="last">
                        字体:
                        <span>
                            简体
                        </span>
                    </span>
                </span>

                <span class="head-search">
                    <input placeholder="请输入搜索内容">
                    <button>搜索</button>
                </span>
            </div>

            <div class="home-head-logo">
            </div>

            <!-- 兼容ie5的写法 -->
            <div class="home-nav">
                <ul class="nav">
                    <li><a href="../index.html">网站首页</a></li>
                    <li><a href="../component/newsPage.html">新闻动态</a></li>
                    <li><a href="../component/zwgkPage.html">政务公开</a></li>
                    <li><a >专题聚焦</a></li>
                    <li><a href="../component/hdjl.html">互动交流</a></li>
                    <li><a class="nav-last-item" >网上办事</a></li>
                  </ul>
            </div>
        </div>


        <!-- 页面内容 -->
        <div>
        </div>

        <!-- 页面尾部 -->
        <div class="home-foot">
            <div class="home-foot-content">
                <div class="foot-link">
                    <span>友情链接:</span>
                    <a>
                        <img src="../public/img/7.jpg">
                    </a>
                    <a>
                        <img src="../public/img/8.jpg">
                    </a>
                    <a>
                        <img src="../public/img/9.jpg">
                    </a>
                    <a>
                        <img src="../public/img/10.jpg">
                    </a>
                </div>
                <div class="foot-contact-us">
                    <p>
                        <span>
                            <a>联系我们</a>
                        </span>
                        <span>
                            |
                        </span>
                        <span>
                            <a>网站地图</a>
                        </span>
                    </p>

                    <p>
                        <span>
                            版权所有：广西壮族自治区退役军人事务厅 桂ICP备xxxxxxxxxxxxx号 桂公网安备xxxxxxxxxxxxx号
                        </span>
                    </p>

                    <p>
                        <span>
                            地址：南宁市兴宁区民主路49号 邮政编码 530012
                        </span>
                    </p>
                    <p>
                        <span>
                            建议使用IE9以上版本、360、Chrome浏览器打开
                        </span>
                    </p>
                </div>

                <div class="foot-icon">
                    <img src="../public/img/red.png">
                    <img src="../public/img/jiucuo.png">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../public/js/jquery-1.10.1.min.js"></script>
</body>

</html>