<!-- 互动交流中，提取厅长信箱代码 -->
<!DOCTYPE html>
<html>

<head>
    <title>run in ie8</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="../css/hdjlPage/hdjlPage.css"> -->
</head>


<form action="" style="margin-top: 30px;">
    <!-- 表单 -->
    <table style="width:500px; border:0;">

        <tbody>
            <!-- 0行 -->
            <tr>
                <td colspan="4" height="30">
                    <span>填写留言（*为必填项，文字内容不能超过500字）</span>
                </td>
            </tr>
            <!-- 0行 -->
            <!-- 第一行 -->
            <tr>
                <td align="right">
                    <div style="width:85px">
                    <span style="color: red">*</span>
                    <aaaa id="user_name_label"><label  >姓名</label></aaaa>
                    </div>
                </td>
                <td id="user_name_input"><input type="text" value="" id="user_name" name="user_name" placeholder="请输入姓名">
                </td>
                <td>
                    <span style="color: red">*</span>
                    <aaaa id="user_sex_label"><label  >性别</label></aaaa>
                    <aaaa id="user_sex_input"><label><input type="radio" checked="" class="flat" name="user_sex" value="男">男</label><label><input
                                type="radio" class="flat" name="user_sex" value="女">女</label></aaaa>
                </td>
                <td>
                    <span style="color: red">*</span>
                    <aaaa id="id_card_label"><label  >身份证号</label></aaaa>
                    <aaaa id="id_card_input"><input type="text" value="" id="id_card" name="id_card" placeholder="请输入18位身份证号">
                    </aaaa>
                </td>
            </tr>
            <!-- 第一行 -->
            <!-- 第二行 -->
            <tr>
                <td align="right" style="padding-right:10px;">
                    <span style="color: red">*</span>
                    <aaaa id="user_prov_label"><label  >联系地址</label></aaaa>

                </td>
                <td colspan="3">
                    <aaaa id="user_address_input"><input type="text" value="" id="user_address" name="user_address"
                            placeholder="请输入详细地址" size="40"> </aaaa>
                </td>

            </tr>

            <tr>
                <td align="right" style="padding-right:10px;">
                    <span style="color: red">*</span>
                    <aaaa id="user_email_label"><label  >电子邮箱</label></aaaa>


                </td>
                <td colspan="2" id="user_email_input"><input type="text" value="" id="user_email" name="user_email"
                        placeholder="请输入您的电子邮箱" size="40"> </td>
                <td align="left">
                    <span style="color: red">*</span>
                    <aaaa id="user_zipcode_label"><label  >邮政编码</label></aaaa>
                    <aaaa id="user_zipcode_input"><input type="text" value="" id="user_zipcode" name="user_zipcode"
                            placeholder="请输入邮政编码"> </aaaa>

                </td>

            </tr>
            <!-- 第二行 -->
            <!-- 第三行 -->
            <tr>
                <td align="right">
                    <span style="color: red">*</span>
                    <aaaa id="letter_kind_label"><label  >意见建议类别</label></aaaa>
                </td>
                <td colspan="3">

                    <aaaa id="letter_kind_input"><select class="form-control" id="letter_kind" name="letter_kind">
                            <option value="11" selected="">政策法规</option>
                            <option value="1">思想政治</option>
                            <option value="2">权益维护</option>
                            <option value="3">退役安置</option>
                            <option value="4">就业服务</option>
                            <option value="5">教育培训</option>
                            <option value="6">军休服务</option>
                            <option value="7">优待抚恤</option>
                            <option value="8">英烈褒扬</option>
                            <option value="9">双拥工作</option>
                            <option value="10">其他</option>
                        </select></aaaa>
                </td>

            </tr>
            <tr>
                <td align="right" style="padding-right:10px;">
                    <span style="color: red">*</span>
                    <aaaa id="letter_title_label"><label  >标题</label></aaaa>


                </td>
                <td colspan="3" id="letter_title_input"><input style="width:660px" type="text" value="" id="letter_title" name="letter_title"
                        placeholder="不超过30字" size="98"> </td>
            </tr>
            <!-- 第三行 -->
            <!-- 第四行 -->
            <tr>
                <td align="right" style=" vertical-align: top;">
                    <span style="color: red">*</span>
                    <aaaa id="letter_body_label"><label>内容</label></aaaa>

                </td>
                <td colspan="3" id="letter_body_input"><textarea cols="80" id="letter_body" name="letter_body"
                        rows="10" placeholder="不超过500字"></textarea></td>
            </tr>
            <!-- 第四行 -->
            <!-- 第五行 -->
            <tr>
                <td align="right">
                    <span style="color: red">*</span>


                    <aaaa id="user_mobile_label"><label  >手机号</label></aaaa>
                </td>
                <td>
                    <aaaa id="user_mobile_input"><input type="text" value="" id="user_mobile" name="user_mobile"
                            placeholder="请输入有效的手机号码"> </aaaa>
                </td>
                <td align="right">
                    <span style="color: red">*</span>
                    <aaaa id="user_yanzheng_label"><label  >验证码</label></aaaa>
                </td>
                <td>
                    <aaaa id="user_yanzheng_input"><input type="text" value="" id="user_yanzheng" name="user_yanzheng"
                            placeholder="请输入有效手机号码后,点击右侧按钮获取验证码"> </aaaa>

                    <button type="button" id="getyzmButton" class="next1" onclick="getYZM();">获取验证码</button>
                </td>

            </tr>
            <!-- 第五行 -->
            <!-- 第六行 -->
            <tr>
                <td align="left" colspan="4">
                    <span style="color: red;margin-left: 20px">*</span>
                    <aaaa id="is_open_label"><label  >是否同意公开(默认为是)</label></aaaa>

                    <aaaa id="is_open_input"><label><input type="radio" checked="" class="flat" name="is_open" value="Y">是</label><label><input
                                type="radio" class="flat" name="is_open" value="N">否</label></aaaa>
                </td>

            </tr>
            <!-- 第六行 -->
        </tbody>
    </table>
    <!-- 表单 -->
    <div class="btn-form">
        <button type="button">提交</button>

    </div>

</form>