<!-- 风采展示界面(原名专题聚焦) -->

<!DOCTYPE html>
<html>

<head>
    <title>广西壮族自治区退役军人事务厅</title>
    <meta charset="utf-8">
    <!-- 不使用该语句会导致ie浏览器样式无法使用部分正常的css样式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/home/base.css">
    <link rel="stylesheet" href="../css/home/head.css">
    <link rel="stylesheet" href="../css/home/foot.css">
    <!-- 下面这个css可以单独提取公共样式 -->
    <link rel="stylesheet" href="../css/newsPage.css">
</head>

<body>
    <script type="text/javascript" src="../js/ztjjPage.js"></script>
    <script type="text/javascript" src="../js/tool.js"></script>
    <script type="text/javascript">
        function gotoNewUrl() {
            var msg = "您访问的链接即将离开\'广西壮族自治区退役军人事务厅\' \n\n请确认是否离开?";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <div class="home-page">
        <!-- 头部 -->
        <div class="home-head">
            <div class="head-link">
                <span>
                    <script>document.write(getChineseData())</script>
                </span>
                <span class="option">
                    <span class="first">
                        <a>设为首页</a>
                    </span>
                    <span class="middle">

                        <a>收藏本站</a>
                    </span>

                </span>

                <span class="head-search">
                    <input placeholder="请输入搜索内容">
                    <button>搜索</button>
                </span>
            </div>

            <div class="home-head-logo">
            </div>

            <div class="home-nav">
                <ul class="nav">
                    <li><a href="../index.html">网站首页</a></li>
                    <li><a href="../component/newsPage.html">新闻动态</a></li>
                    <li><a href="../component/zwgkPage.html">政务公开</a></li>
                    <li><a href="../component/ztjjPage.html">风采展示</a></li>
                    <li><a href="../component/hdjl.html">互动交流</a></li>
                    <li><a class="nav-last-item" target="_blank" href="http://wsbs.gxzf.gov.cn/" onclick="javascript:return gotoNewUrl()">网上办事</a></li>
                </ul>
            </div>
        </div>

        <!-- 页面内容 -->
        <div class="second-page-content">
            <div class="breadcrumb">
                <a href="../index.html">
                    <span>
                        首页
                    </span>
                </a>
                <span>
                    <!-- 请不要看错代码 -->
                    >
                </span>
                <span>
                    风采展示
                </span>
            </div>

            <div class="content">
                <div id="content-left" class="content-left">
                    <div class="title">
                        <div class="text">
                            风采展示
                        </div>
                    </div>
                    <ul id="cust-nav-first" class="cust-nav">
                        <li>
                            先进典型 >
                        </li>
                        <li>
                            双拥文化 >
                        </li>
                        <a target="_blank" href="http://www.chinamartyrs.gov.cn/LieShiYingMingLu/list.html?id=CN450000&tdsourcetag=s_pcqq_aiomsg"
                            onclick="javascript:return gotoNewUrl()">
                            <li>
                                英烈英名录 >
                            </li>
                        </a>
                    </ul>
                </div>
                <div id="content-right" class="content-right">
                    <div class="content-right-wrap">
                        <div class="title">
                            <span id="changeTitle">
                                先进典型
                            </span>
                        </div>
                        <div id="news" class="news">
                            <!-- 动态加载数据，请自行修改初始化接口 -->
                        </div>

                        <div id="content-foot" class="content-foot">
                            <!--引入即可 pagination.html 请自行根据需求修改该控件-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 页面尾部 -->
        <div class="home-foot">
            <div class="home-foot-content">
                <div class="foot-link">
                    <span>友情链接:</span>
                    <a href="http://www.mva.gov.cn/" target="_blank">
                        <img src="../public/img/7.jpg">
                    </a>
                    <a href="http://www.gxzf.gov.cn/" target="_blank">
                        <img src="../public/img/8.jpg">
                    </a>
                    <a href="http://sy.mca.gov.cn/" target="_blank">
                        <img src="../public/img/9.jpg">
                    </a>
                    <a href="http://www.chinamartyrs.gov.cn/" target="_blank">
                        <img src="../public/img/10.jpg">
                    </a>
                    <a href="http://www.gxmzt.gov.cn/" target="_blank">
                        <img src="../public/img/11.jpg">
                    </a>
                </div>
                <div class="foot-contact-us">
                    <p class="first-line">
                        <span>
                            <a>联系我们</a>
                        </span>
                        <span>
                            |
                        </span>
                        <span>
                            <a>网站地图</a>
                        </span>
                    </p>

                    <p class="second-line">
                        <span>
                            版权所有：广西壮族自治区退役军人事务厅 桂ICP备xx号 桂公网安备xx号 网站标识码：xx
                        </span>
                    </p>

                    <p class="third-line">
                        <span>
                            地址：南宁市兴宁区民主路49号 邮政编码 530012
                        </span>
                    </p>
                    <p class="fourth-line">
                        <span>
                            建议使用IE9以上版本、360、Chrome浏览器打开
                        </span>
                    </p>
                </div>

                <div class="foot-icon">
                    <img src="../public/img/red.png">
                    <img src="../public/img/jiucuo.png">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../public/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../public/js/cust_nav.js"></script>
    <script>
        // $("#content-right").css("min-height", $("#content-left")[0].clientHeight + "px");
        initData();

        // 静态数据代码，动态数据请根据自身需求修改
        function navOnChange(item) {

            var attribute = ""
            var subTitle = ""
            if (item.activeIndex == 0) {
                attribute = "first_tabBar"
                subTitle = "先进典型"
            } else if (item.activeIndex == 1) {
                attribute = "second_tabBar"
                subTitle = "双拥文化"
            } else {
                attribute = "third_tabBar"
                subTitle = "英烈英名录"
            }

            $("#changeTitle").html(subTitle)
            $.ajax({
                type: "GET",
                url: "http://192.168.0.108:8003/data/ztjjPage.json",
                dataType: "json",
                success: function (data) {

                    if (data[attribute]) {
                        var str = "";
                        $.each(data[attribute], function (index, record) {
                            // 最多显示6条数据
                            // 如果你有足够的时间，可以在服务器安装bable，然后使用es6的语法写下面的代码拼接即可

                            if (index == 0) {
                                str += "<ul>"
                            }

                            // 一个页面最多只能显示15条数据
                            if (index < 15) {
                                str += "<li>"
                                str += "<a href=\"" + record.url + "\">"
                                str += "<span class=\"title\">"
                                str += record.title
                                str += "</span>"
                                str += "</a>"
                                str += "<span class=\"time\">"
                                str += record.publishTime
                                str += "</span>"
                                str += "</li>"

                                if ((index + 1) % 5 == 0) {
                                    str += "</ul>"
                                    // 另起一个ul
                                    if (index + 1 != data[attribute].length && index + 1 < 15) {
                                        str += "<ul>"
                                    }
                                }

                                if (index + 1 == data[attribute].length) {
                                    if ((index + 1) % 5 != 0) {
                                        str += "</ul>"
                                    }
                                }
                            }
                        })

                        // 防止页面高度发生变化时跳动bug
                        setTimeout(function () {
                            $("#news").html(str);
                        }, 100)
                    }
                },
                error: function (error) {
                }
            });
        }

        // tab组件初始化
        $("#cust-nav-first").navInit({
            tabEvent: "click",
            activeIndex: 0,
            onChange: navOnChange
        });

    </script>
</body>

</html>